.graph-border-right{
    border-right: 1px solid #DEE2E6;
}

.graph-border-left{
    border-left: 1px solid #DEE2E6;
}

.graph-height {
    min-height: 300px;
}

// #content {
//     position: absolute;
//     z-index: -9999;
//     left: -9999px;
// }