<div class="w-100 h-100">
    <!-- Display when add / update "project / task / ticket" -->
    <ng-container *ngIf="!uploadedFile || isEditMode">
        <button *ngIf="isEditMode" (click)="fileUpload.click()" type="button" class="mb-3 btn btn-secondary upload_btn">
            <span class="plus_icon">+</span>
            Choose Files
        </button>
        <input
        #fileUpload
        style="display: none;"
        (change)="fileSelect($event)"
        type="file" 
        multiple
        accept=".jpeg, .jpg, .png, .doc, .docx, .ppt, .pptx, .pdf"
        class="form-control form-control-lg form-control-solid"/>
        <!-- Display a list of selected files -->
        <ng-container *ngIf="fileList.length > 0">
            <div class="mt-3 d-flex flex-column">
                <span *ngFor="let file of fileList; let i = index" class="file_display py-3 mb-2 badge badge-pill badge-light rounded-pill">
                    <div class="d-flex w-100 h-100">
                        <i (click)="removeFile(i)" class="pi pi-times me-3"></i>
                        <span class="text-truncate">{{ file.name }}</span>
                    </div>
                </span>
            </div>
        </ng-container>
    </ng-container>
    <!-- Displays uploaded list of files when viewing -->
    <ng-container *ngIf="uploadedFile">
        <div *ngIf="!isEditMode" class="d-flex flex-wrap align-items-center">
            <a 
            class="upload_file rounded-pill me-2 mb-2 text-truncate file_display" 
            *ngFor="let attachment of displayedFile; let i = index" href="{{ attachment.file_url }}" 
            target="{{ isRawType(attachment.fileName) ? '_self' : '_blank'}}">
                <i *ngIf="!isEditMode" class="pi pi-download me-2"></i>
                <i *ngIf="isEditMode" (click)="removeUploadedFile(i)" class="pi pi-times me-3"></i>
                {{ attachment.fileName}}
            </a>
        </div>
        <div *ngIf="isEditMode" class="d-flex flex-column">
            <span *ngFor="let attachment of displayedFile; let i = index" class="file_display py-3 mb-2 badge badge-pill badge-light rounded-pill">
                <div class="d-flex w-100 h-100">
                    <i (click)="removeUploadedFile(i)" class="pi pi-times me-3 pointer-cursor"></i>
                    <span class="text-truncate">{{ attachment.fileName }}</span>
                </div>
            </span>
        </div>
    </ng-container>
</div>