<div class="d-flex flex-wrap flex-stack mb-6">
    <h3 class="fw-bolder my-2">
        Recent Tasks
        <span class="fs-6 text-gray-400 fw-bold ms-1">{{ selectedStatus }}</span>
    </h3>

    <div class="d-flex flex-wrap my-2">
        <div class="me-4">
            <select name="status" data-control="select2" data-hide-search="true" class="form-select form-select-sm form-select-white w-125px" [(ngModel)]="selectedStatus" (ngModelChange)="sortTaskByStatus($event)">
                <option value="All">All</option>
                <option value="Pending">Pending</option>
                <option value="On Hold">On Hold</option>
                <option value="Completed">Completed</option>
            </select>
        </div>
        <!-- data-bs-toggle="modal" data-bs-target="#kt_modal_create_project" -->
        <a *ngIf="authService.isManager()" (click)="openTaskForm()" class="btn btn-primary btn-sm cursor-pointer">New Task</a>
    </div>
</div>

<div class="row g-6 g-xl-9">
    <ng-container *ngIf="!(isLoading$ | async)">
        <ng-container *ngIf="displayedTasks.length == 0">
            <span class="d-flex justify-content-center fs-2 text-gray-400 fw-bold ms-1">No matched task is found</span>
        </ng-container>
        <ng-container *ngIf="displayedTasks.length > 0">
            <div *ngFor="let task of displayedTasks" class="col-md-6 translate_y pointer-cursor">
                <app-card2 (click)="displayDetails(task)"
                    list_type="Task"
                    icon="./assets/media/svg/brand-logos/infography.svg" 
                    badgeColor="primary" 
                    status="{{ task.status }}" 
                    statusColor="primary" 
                    title="{{ task.name }}" 
                    description="{{ task.description }}" 
                    date="{{ task.due_date | date:'MMMM d, yyyy' }}"
                    budget="{{ task.priority }}"  
                    [numOfEngineer]="task.selectedEngineersID.length"
                    [numOfTicket]="task?.numOfTicket">
                </app-card2>
            </div>
        </ng-container>
    </ng-container>
    <ng-container *ngIf="pagination">
        <!-- first => Determine the 1st index of element in current page to render the correct `page` & `page number` -->
        <p-paginator (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true" [rows]="4" [first]="(page - 1) * limit" [totalRecords]="pagination.numOfDocs" [rowsPerPageOptions]="[4,6,10]"></p-paginator>
    </ng-container>
</div>