<div class="rounded-2 mb-7 card col-12">
    <div *ngIf="!isNavigatingFromProject()" class="card-header border-0">
        <div class="card-title m-0">
            <span class="fs-4 fw-bold text-gray-600 m-0">All Tasks</span>
        </div>
    </div>
    <div [ngClass]="!isNavigatingFromProject() ? 'pt-0' : 'pt-3'" class="card-body">
        <p-skeleton *ngIf="isLoading" styleClass="px-6 py-8 rounded-2 mb-7 card position-relative"></p-skeleton>
        <p-table *ngIf="!isLoading" [value]="paginateTask" [scrollable]="true">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="name" pFrozenColumn>Name <p-sortIcon field="name"></p-sortIcon></th>
                    <th pSortableColumn="due_date">Deadline <p-sortIcon field="due_date"></p-sortIcon></th>
                    <th pSortableColumn="status">Status <p-sortIcon field="status"></p-sortIcon></th>
                    <th pSortableColumn="priority">Priority <p-sortIcon field="priority"></p-sortIcon></th>
                    <th *ngIf="isNavigatingFromProject()">Leader</th>
                    <th>Assignees</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-task>
                <tr class="cursor-pointer" (click)="displayDetails(task)">
                    <td style="min-width: 150px;" pFrozenColumn>
                        {{ task.name }}
                        <span class="fw-bold low-font-color" *ngIf="task.status == STATUS.COMPLETED">
                            <br />
                            <i class="fw-bold low-font-color bi bi-check-circle"></i> {{ STATUS.COMPLETED }} : {{ task.completed_date | date:'d MMMM yyyy' }}
                        </span>
                    </td>
                    <td style="min-width: 120px;">
                        {{ task.due_date | date:'d MMMM yyyy' }}
                        <span class="fw-bold high-font-color" *ngIf="task.status != STATUS.COMPLETED && dateFormatter.isOverdue(task.due_date)">
                            <br/>
                            <i class="fw-bold high-font-color bi bi-alarm"></i> Overdue : {{ dateFormatter.countOverdueDays(task.due_date) }} day(s)
                        </span>
                    </td>
                    <td style="min-width: 100px;">
                        <p-chip
                        [styleClass]="task?.status == STATUS.COMPLETED ? 'completed-style' : task?.status == STATUS.PENDING ? 'pending-style' : 'onHold-style'"
                        [label]="task?.status"></p-chip>   
                    </td>
                    <td style="min-width: 100px;">
                        <span 
                        [ngClass]="task?.priority == PRIORITY.LOW ? 'low-font-color' : task?.priority == PRIORITY.MEDIUM ? 'medium-font-color' : 'high-font-color' "
                        class="fw-bolder fs-6 text-dark">{{ task?.priority }}</span>
                    </td>
                    <td *ngIf="isNavigatingFromProject()">
                        <p-avatar image="{{ task.selectedLeader?.profile ? task.selectedLeader?.profile['profile_url'] : './assets/media/avatars/blank.png'}}" size="large" shape="circle"></p-avatar>
                    </td>              
                    <td>
                        <div *ngIf="!isNavigatingFromProject()" class="d-flex align-items-center mb-3">
                            <span class="pi pi-users main-color" style="font-size: 1.5rem"></span>
                            <span class="main-color ms-2 me-3">:</span>
                            <!-- +1 for leader -->
                            <div class="text-gray-400">{{ task?.selectedEngineersID?.length + 1 }}</div>
                        </div>
                        <!-- For "Project" site of view -->
                        <div *ngIf="isNavigatingFromProject()" class="d-flex flex-row align-items-center">
                            <p-avatarGroup *ngIf="task.selectedEngineers.length > 0" styleClass="mb-3">
                                <p-avatar *ngFor="let engineer of task.selectedEngineers.slice(0, 3)" image="{{ engineer.profile ? engineer.profile['profile_url'] : './assets/media/avatars/blank.png'}}" size="large" shape="circle"></p-avatar>
                                <p-avatar *ngIf="task.selectedEngineers.length > 3" label="+{{ task.selectedEngineers.length - 3 }}" shape="circle" size="large" [style]="{ 'background-color': 'var(--bs-primary)', color: '#ffffff' }"></p-avatar>
                            </p-avatarGroup>
                            <span *ngIf="task.selectedEngineers.length == 0">No members selected</span>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <ng-container *ngIf="pagination">
        <p-paginator (onPageChange)="onPageChange($event)" [showCurrentPageReport]="true" [rows]="limit" [totalRecords]="pagination.numOfDocs" [rowsPerPageOptions]="rowPerPageOptions"></p-paginator>
    </ng-container>
</div>
