<div class="card mb-5 mb-xl-10 position-relative" id="kt_profile_details_view">
    <div class="card-header">
        <div class="card-title m-0">
            <h3 class="fw-bolder m-0">
                {{ isTaskList ? 'Task List' : 'Ticket List' }}
            </h3>
        </div>
    </div>
    <ng-container *ngIf="isTaskList">
        <app-task-table navigationPage="Project" [project_id]="project_id" [page]="1" [limit]="6" [rowPerPageOptions]="[6, 8, 10]"></app-task-table>
    </ng-container>
    <ng-container *ngIf="!isTaskList">
        <app-ticket-table navigationPage="Project" [project_id]="project_id" [page]="1" [limit]="6" [rowPerPageOptions]="[6, 8, 10]"></app-ticket-table>
    </ng-container>
    <div class="card-footer d-flex justify-content-end py-6 px-9">
        <button type="button" class="btn btn-light btn-active-light-primary me-2" (click)="goBack()">
            Back to Project
        </button>
    </div>
</div>  