<div class="card mb-5 mb-xl-10">
    <ng-container *ngIf="(user$ | async) as _user">
        <div class="card-header border-0 cursor-pointer" role="button" data-bs-toggle="collapse" data-bs-target="#kt_account_profile_details" aria-expanded="true" aria-controls="kt_account_profile_details">
            <div class="card-title m-0">
                <h3 class="fw-bolder m-0">Profile Details</h3>
            </div>
        </div>
        <div id="kt_account_profile_details" class="collapse show">
            <form [formGroup]="profileForm" (ngSubmit)="saveSettings(_user._id)" novalidate="" class="form">
                <div class="card-body border-top p-9">
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6">Profile Picture</label>
                        <div class="col-lg-8">
                            <div class="image-input image-input-outline" data-kt-image-input="true" [style.background-image]="'url(./assets/media/avatars/blank.png)'">
                                <div class="image-input-wrapper w-125px h-125px position-relative">
                                    <div class="upload_icon_border position-absolute bottom-0 end-0" (click)="fileInput.click()">
                                        <i class="pi pi-upload" style="font-size: 1rem; color: white"></i>
                                    </div>
                                    <input #fileInput accept="image/png, image/jpeg" type="file" hidden (change)="onFileSelected($event)">
                                    <img *ngIf="!imageUrl" [src]="_user.profile ? _user.profile['profile_url'] : './assets/media/avatars/blank.png'" height="100%" width="100%" />
                                    <img *ngIf="imageUrl" [src]="imageUrl" height="100%" width="100%" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label required fw-bold fs-6">Name</label>
                        <div class="col-lg-8 fv-row">
                            <input formControlName="name" type="text" class="form-control form-control-lg form-control-solid" placeholder="Name" name="name" [value]="_user.name" />
                        </div>
                    </div>
                    <div class="row mb-6">
                        <label class="col-lg-4 col-form-label fw-bold fs-6"><span class="required">Contact Phone</span></label>
                        <div class="col-lg-8 fv-row">
                            <input formControlName="phone" type="tel" class="form-control form-control-lg form-control-solid" placeholder="Phone Number" name="phone" [value]="_user.phone" />
                        </div>
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <button type="submit" class="btn btn-primary" [disabled]="(isLoading$ | async) || profileForm.invalid">
                      <ng-container *ngIf="!(isLoading$ | async)">Save Changes</ng-container>
                      <ng-container *ngIf="isLoading$ | async">
                        <span class="indicator-progress" [style.display]="'block'">
                            Please wait...{{ " " }}
                            <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                        </span>
                        </ng-container>
                    </button>
                </div>
            </form>
        </div>
    </ng-container>
</div>