<p-overlayPanel [style]="{ 'width': '280px' }" #op_chat>
  <app-chat-history (hasUnreadChat)="hasUnreadChat = $event" (closePanel)="op_chat.hide();" *ngIf="AuthService.currentUserValue.role != ROLE.MANAGER"></app-chat-history>
</p-overlayPanel>

<!--begin::Menu wrapper-->
<div *ngIf="AuthService.currentUserValue.role != ROLE.MANAGER" (click)="op_chat.toggle($event)" class="btn btn-icon btn-primary w-40px h-40px pulse pulse-white position-relative" id="kt_drawer_chat_toggle" aria-disabled="true">
  <span [inlineSVG]="'./assets/media/icons/duotune/communication/com012.svg'" class="svg-icon svg-icon-2"></span>
  <span class="pulse-ring"></span>
  <i *ngIf="hasUnreadChat" class="bi bi-circle-fill position-absolute top-0 end-0" style="color: var(--bs-danger)"></i>
</div>
