<!--begin::Chat-->
<p-overlayPanel #op>
  <ng-template pTemplate="content">
    <div class="rounded-2 card">
      <div class="card-header border-0">
          <div class="card-title m-0">
            <h3 class="fw-bolder">Notification</h3>
          </div>

          <div class="card-toolbar">
            <a (click)="removeAllNotification()" class="fw-bold cursor-pointer fs-7 ms-5 position-relative d-flex align-items-center">
              <span style="color: blue; text-decoration: underline;">Clear All</span>
            </a>
        </div>
      </div>
      <div class="card-body pt-0">
        <div (click)="navigateToDetails(i)" [ngStyle]="notification?.recipients?.isRead ? { 'background-color': 'white' }: { 'background-color': '#f5f9ff' }" *ngFor="let notification of notification_list; let i = index" class="notification cursor-pointer d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <i [class]="notificationTypeIcons[notification.notification_type]" style="font-size: 1.5rem;"></i>
            <div class="d-flex flex-column">
              <span style="max-width: 200px;" class="text-wrap fs-7 fw-bolder text-gray-800">{{ notification.message }}</span>
              <span class="d-flex align-items-center mt-2">
                <i class="bi bi-clock me-2 fs-9"></i>
                <span class="fs-9 fw-mormal text-muted">{{ DateFormatter.countTimestamp(notification.timestamp) }}</span>
              </span>
            </div>
          </div>
          <i (click)="removeNotification($event, i)" class="fs-7 fw-bold bi bi-x"></i>
        </div>
        <div *ngIf="notification_list?.length == 0" class="fw-bold text-muted fs-6 d-flex justify-content-center align-items-center py-5">
          No Notifications
        </div>
        <!-- Loading spinner -->
        <div *ngIf="isLoading$ | async" class="d-flex justify-content-center align-items-center my-3">
          <div style="height: 25px; width: 25px;" class="loader"></div>
        </div>
      <ng-container *ngIf="!(isLoading$ | async)">
        <div *ngIf="hasNextPage" (click)="loadNotification()" class="load-more-btn cursor-pointer fs-3 fw-bold w-100 d-flex align-items-center justify-content-center py-3">
          Load More
        </div>
      </ng-container>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>

<!--end::Menu wrapper-->
<div class="d-flex align-items-center ms-5 position-relative">
  <i (click)="op.toggle($event)" style="font-size: 2rem" class="cursor-pointer pi pi-bell text-3xl"></i>
  <p-badge *ngIf="numOfNotification" severity="warning" [value]="numOfNotification <= 10 ? numOfNotification.toString() : '...'" [ngClass]="AuthService.isManager() ? 'bottom-15' : 'top-0'" class="position-absolute left-15"></p-badge>
</div>
