<!-- Display the "scroll down" icon when the user is scrolling up -->
<div *ngIf="!(chat_container.offsetHeight + chat_container.scrollTop + 5 >= chat_container.scrollHeight)" (click)="scrollToBottom()" class="chat-down-btn position-absolute top-0 start-50 d-flex justify-content-center align-items-center">
  <ng-content></ng-content>
</div>
<div #chat_container [scrollTop]="isDisableScrollBottom ? offsetHeight : chat_container.scrollHeight" (scroll)="onScroll($event)" style="height: 300px" class="scroll-y me-n5 pe-5 position-relative" [ngClass]="!isDrawer ? 'h-300px h-lg-auto' : ''">
  <div *ngIf="isLoading$ | async" style="width: 100%" class="d-flex justify-content-center">
    <div style="height: 25px; width: 25px" class="loader"></div>
  </div>
  <ng-container *ngIf="chat_history && chat_history.length > 0">
      <div #messages class="mb-10" *ngFor="let message of chat_history; let i = index"
        [ngClass]="{
          'd-flex': !isDrawer,
          'justify-content-start': message.sender_id !== AuthService.currentUserValue._id,
          'justify-content-end': message.sender_id == AuthService.currentUserValue._id
        }">
        <!-- Break the messages by `createdAt` date -->
        <div *ngIf="i == 0 || (chat_history[i].createdAt | date: 'yyyy-MM-dd') !== (chat_history[i - 1].createdAt | date: 'yyyy-MM-dd')" class="d-flex align-items-center w-100">
          <div class="horizontal-line"></div>
          <p-chip styleClass="mx-2" [label]="DateFormatter.checkChatDate(message.createdAt)"></p-chip>
          <div class="horizontal-line"></div>
        </div>
      <div class="d-flex flex-column align-items" [ngClass]="'align-items-' + (message.sender_id !== AuthService.currentUserValue._id ? 'start' : 'end')">
          <div class="d-flex align-items-center mb-2">
            <!-- Contact Person style -->
            <ng-container *ngIf="message.sender_id !== AuthService.currentUserValue._id">
              <div div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" [src]="contactPerson?.profile['profile_url']"/>
              </div>
              <div class="ms-3">
                <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary me-1">{{ contactPerson.name }}</a>
                <span class="text-muted fs-7 mb-1">{{ message.createdAt | date: 'hh:mm a' }}</span>
              </div>
            </ng-container>
            <!-- Sender style -->
            <ng-container *ngIf="message.sender_id == AuthService.currentUserValue._id">
              <div class="me-3">
                <span class="text-muted fs-7 mb-1">{{ message.createdAt | date: 'hh:mm a' }}</span>
                <a href="#" class="fs-5 fw-bolder text-gray-900 text-hover-primary ms-1">You</a>
              </div>
              <div class="symbol symbol-35px symbol-circle">
                <img alt="Pic" [src]="AuthService.currentUserValue?.profile['profile_url']"/>
              </div>
            </ng-container>
          </div>
          <div style="width: fit-content; max-width: 100%" class="text-wrap" [ngClass]="getMessageCssClass(message)" data-kt-element="message-text" [innerHTML]="message.message"></div>
        </div>
      </div>
    </ng-container>
</div>

<div style="padding-bottom: 5px;" class="card-footer pt-4 px-0" [id]="isDrawer ? 'kt_drawer_chat_messenger_footer' : 'kt_chat_messenger_footer'">
  <textarea (keydown.enter)="$event.preventDefault(); submitMessage();" [(ngModel)]="message" class="form-control form-control-flush mb-3" rows="1" data-kt-element="input" placeholder="Type a message"></textarea>
  <div class="d-flex flex-stack">
    <div class="d-flex align-items-center me-2">
      <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
      <button *ngIf="!isDeleting" (click)="openConfirmationDialog()" type="button" pTooltip="Delete Chat" class="btn btn-sm btn-icon btn-active-light-primary me-1">
        <i class="bi bi-trash3 fs-3"></i>
      </button>
      <span *ngIf="isDeleting" class="text-muted fs-7">Deleting...</span>
    </div>
    <button [disabled]="message.trim().length == 0" class="btn btn-primary ms-auto" type="button" (click)="submitMessage()">Send</button>  
  </div>
</div>
